.player-form {
  margin: 2rem;
}

.form-control {
  margin: 1rem 0;
}

.form-control label,
.form-control input,
.form-control select {
  display: block;
  width: 100%;
  margin-bottom: 0.25rem;
}

.form-control input,
select {
  border: 3px solid #a1a1a1;
  font: inherit;
  border-radius: 5px;
  height: 40px;
}

.form-control input:focus,
select:focus {
  outline-color: #db9003c4;
  background-color: rgba(161, 42, 42, 0.5);
}

.form-control input:hover,
select:hover {
  border-color: #db9003c4;
  background-color: rgba(161, 42, 42, 0.5);
}

.right {
  right: 0;
}

.form-control input.invalid {
  border: 3px rgb(105, 18, 18) solid;
}
